MIX_ENV=test
HOST=localhost
PORT=4433

JWT_LOCAL_HOST_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAkIezaXQicbiPMHv5oeA1\nQ2pwGP82pFGP7Kp/i4+f47IKHevHMSTm0jQhNTotAPZQH8iDJRBKSpXWXTGpAs56\n4e19oOHzwO0Kzc3f+3HRLAcjEmOH+h8eJg1rMk3ahkD+mXSdPoPwf3kXLSyJqp8v\nfA43XABDNAJM4Zq4lpM5+PFh47+Apfx+XK1Lob2HT9/s2TCeOlHNQp3wKLSmK1hj\nbjMBTiSIQcsWZE0aksW9rQxCXLrYw6g8MNwtm77OwTVH5Ahs0tzNhkKYWekob2/K\nzXfYLqFrCO2PyTLm3no2Q5Pnn01KU0S58mMgVLxCBYqoDi9CPKSnrGhA7t3nYHYP\nfwIDAQAB\n-----END PUBLIC KEY-----"

SSL_KEY_PATH=/home/develop/Documents/certs/http3_server/server.key
SSL_CERT_PATH=/home/develop/Documents/certs/http3_server/server.crt
